@media screen and (max-width: 600px) {


    .graph-panel{
        width: 100%;
        padding: 0;
    }
    .graph-panel .head{
        padding: 0 20px;
    }
    .pair-info .pair{
        font-size: 16px;
    }
    .p-box p{
        font-size: 12px;
    }
    .right-box div{
        font-size: 12px;
    }
    .graph{
        width: 100%;
    }
    .graph .wrapper{
        width: auto;
        height: auto;
    }
    .wrapper{
        padding-left: 20px;
        padding-top: 20px;
    }
    .wrapper .price, .wrapper .activity{
        height: 200px;
    }
  }